
/* video */


*, ::before, ::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: roboto, sans-serif;
}

.home {
    height: 100vh;
    position: relative;
}
video {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.home-content {
    position: relative;
    padding-top: 150px;
    color: #fff;
    text-align: center;
}
h1 {
    font-family: Playfair Display, serif;
    font-size: clamp(45px, 7vw, 130px);
    line-height: 1.1;
}

.home p {
    font-size: clamp(25px, 4vw, 40px);
    margin-top: 10px;
}

.home-content button {
    display: block;
    font-size: clamp(14px, 1.5vw, 18px);
    border: 1px solid #f1f1f1;
    border-radius: 5px;
    background: transparent;
    color: #fff;
    margin: 50px auto 0;
    padding: 12px 20px;
    cursor: pointer;
}
        /* General Styles */




        body {
            font-family: 'Poppins', sans-serif;
            margin: 0;
            padding: 0;
            background: #FFF0F5;
            color: #333;
            overflow-x: hidden;
        }

        h1, h2, h3 {
            font-family: 'Dancing Script', cursive;
        }

        .hero-section {
            height: 100vh;
            /* background: linear-gradient(to right,violet, purple); */
            /* background-image: url(./assets/k3.jpg); */
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
            display: flex;
            justify-content: center;
            align-items: center;
            text-align: center;
            color: white;
            position: relative;
        }

        .hero-section .overlay {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: rgba(0, 0, 0, 0.4);
            z-index: 1;
        }

        .hero-content {
            z-index: 2;
        }

        .hero-content h1 {
            font-size: 4rem;
            margin-bottom: 10px;
            animation: fadeIn 2s ease-in-out;
        }

        .hero-content p {
            font-size: 1.5rem;
            margin-bottom: 20px;
        }

        .btn-custom {
            background-color: #E63946;
            color: white;
            border-radius: 30px;
            padding: 10px 25px;
            font-size: 1.2rem;
            font-weight: bold;
            text-transform: uppercase;
            box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
            transition: all 0.3s;
        }

        .btn-custom:hover {
            background-color: #F08080;
            box-shadow: 0 8px 15px rgba(0, 0, 0, 0.4);
        }

        .about-section2 {
            padding: 60px 20px;
            /* background: #FFF0F5; */
            background-image: url(./assets/cute1.jpg);
            background-attachment: fixed;
            background-position: center;
            /* background-repeat: ; */
            background-size: cover;
            text-align: center;
        }

        .about-section2 h2 {
            color: #E63946;
            margin-bottom: 20px;
            font-size: 2.5rem;
        }

        .about-section2 p {
            font-size: 1.2rem;
            line-height: 1.8;
            /* color: #555; */
            color: whitesmoke;
            max-width: 800px;
            margin: 0 auto;
        }


        .about-section {
          padding: 60px 20px;
          /* background: #FFF0F5; */
          background-image: url(./assets/k2.jpg);
          background-attachment: fixed;
          background-position: center;
          /* background-repeat: ; */
          background-size: cover;
          text-align: center;
          margin-top: -25px;
      }

      .about-section h2 {
          color: #E63946;
          margin-bottom: 20px;
          font-size: 2.5rem;
      }

      .about-section p {
          font-size: 1.2rem;
          line-height: 1.8;
          /* color: #555; */
          color: whitesmoke;
          max-width: 800px;
          margin: 0 auto;
      }

        .gallery-section {
            padding: 60px 20px;
            /* background: #FFD700; */
            background:#F08080;
            margin-top: 250px;
        }

        .gallery-section h2 {
            color: #ff0015;
            margin-bottom: 20px;
            font-size: 25px;
            font-weight: 900;
            font-stretch:extra-expanded ;
        }

        .gallery {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            gap: 15px;
        }

        .gallery img {
            width: 200px;
            height: 350px;
            object-fit: cover;
            border-radius: 10px;
            box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.3);
            transition: transform 0.3s ease, box-shadow 0.3s ease;
        }

        .gallery img:hover {
            transform: scale(1.1);
            /* transform: rotateZ(360deg); */
            box-shadow: 0 8px 20px rgba(0, 0, 0, 0.5);
        }

        .footer {
            background: #FFB6C1;
            padding: 20px;
            text-align: center;
            color: white;
            z-index: 2;
            position: absolute;
            width: 100%;
        }

        .footvid{
          height: 100vh;
          margin-left: 0%;
          width: auto;
          background-repeat: no-repeat;
          background-position:top;
          background-size: cover;
          margin-top: 25px;
    }



        /* Animations */
        @keyframes fadeIn {
            from {
                opacity: 0;
                transform: translateY(-20px);
            }
            to {
                opacity: 1;
                transform: translateY(0);
            }
        }


.navbar-text{
    padding: 5px;

}















/* scroll driven */

        @import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap");

* {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html, body {
  width: 100%;
  margin: 0;
  padding: 0;
}

body {
  color: #001c35;
  background-color: #e3eafc;
  font-family: "Poppins", sans-serif;
}

h1 {
  font-size: 32px;
  font-style: italic;
  margin-bottom: 3rem;
}

h2 {
  font-size: 20px;
  margin: 0 0 1rem 0;
  line-height: 1.2;
  white-space: normal;
  overflow-wrap: break-word;
  text-overflow: ellipsis;
}

p {
  font-size: 14px;
  margin: 0.5rem 0;
  overflow-wrap: break-word;
}

section {
  width: 100%;
  max-width: 800px;
  padding: 4rem 1rem;
  margin: 0 auto;
}

section img {
  width: 100%;
  max-width: 520px;
  height: 100%;
  max-height: 450px;
  object-fit: cover;
  margin: 1rem 0;
  display: block;
  border-radius: 8px;
  transform-origin: center;
}

.card {
  width: 100%;
  max-width: 520px;
  padding: 16px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  animation: fade-in linear both;
  animation-timeline: view();
  animation-range: entry 10% entry 80%;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}

.card h2, .card p {
  margin-bottom: 0.5rem;
}

.card-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 16px;
}

@media screen and (max-width: 580px) {
  .card-container {
    grid-template-columns: 1fr;
  }
}

@keyframes scaleProgress {
  from {
    transform: scaleX(0);
  }
  to {
    transform: scaleX(100%);
  }
}

.progress-bar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 0.5rem;
  z-index: 1;
  background: #feac5e;
  /* background: -webkit-linear-gradient(to right, #4bc0c8, #c779d0, #feac5e); */
  background: linear-gradient(to right, #4bc0c8, #c779d0, #feac5e);
  transform-origin: 0 50%;
  animation: scaleProgress auto linear;
  animation-timeline: scroll(root);
}

@keyframes fade-in {
  from {
    opacity: 0.1;
    transform: scale(0.4);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}


/* scroll driven animation ends */


/* song button */

    /* Song Button */
    .song-button {
        /* position: fixed; */
        top: 20px;
        right: 20px;
        background: #ff8ca3;
        color: white;
        padding: 10px 15px;
        border: none;
        border-radius: 50%;
        cursor: pointer;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
        font-size: 1.5em;
        transition: transform 0.3s;
      }
  
      .song-button:hover {
        transform: scale(1.2);
      }




      /* heart luptup section */

      @import url('https://fonts.googleapis.com/css?family=Fredericka+the+Great|Lovers+Quarrel');

body {
  background-color: white;
  animation-name: beat-back;
  animation-duration: 1s;
  animation-iteration-count: infinite;
}

/* .back {

} */

.topic {
  /* position: absolute; */
  margin: 40px 0px 10px 0px;
  font-style: normal;
  font-size: xx-large;
  /* font-family: Fredericka the Great; */
}

.content-1 {
  /* position: absolute; */
  margin: 30px 0px 10px 0px;
  /* font-family: Lovers Quarrel; */
  font-size: 20px;
}  

.content-2 {
  /* position: absolute; */
  margin: 0px 0px 80px 0px;
  font-family: Lovers Quarrel;
  font-size: 20px;
}  

.lup {
  /* position: absolute; */
  margin: 50px 0px 10px 0px;
  font-family:cursive;
  /* margin-bottom: 30px; */
}

.heart {
  margin: auto;
  background-color: pink;
  height: 100px;
  width: 100px;
  transform: rotate(-45deg);
  animation-name: beat;
  animation-duration: 1s;
  animation-iteration-count: infinite; 
}

.heart:after {
  background-color: pink;
  content: "";
  border-radius: 50%;
  position: absolute;
  width: 100px;
  height: 100px;
  top: 0px;
  left: 50px;
}

.heart:before {
  background-color: pink;
  content: "";
  border-radius: 50%;
  position: absolute;
  width: 100px;
  height: 100px;
  top: -50px;
  left: 0px;
}

.heart:hover {
  background-color: #990000;
  animation-duration: 200ms;
  transform: scale(1.3) rotate(-45deg);
}

.heart:hover:before {
  background-color: #990000;
}

.heart:hover:after {
  background-color: #990000;
}

/* .heart:active {
} */

@keyframes beat {
  0% {
      transform: scale(1) rotate(-45deg);
    }
  50% {
      transform: scale(0.8) rotate(-45deg);
    }
}

@keyframes beat-back {
  50% {
      background: #ffe6f2;
    }
}




/* envelope cover */

      
body {
	background:rgb(252, 204, 212);
}

.letter-image {
	position: absolute;
	/* top: 50%; */
	left: 50%;
	width: 200px;
	height: 50%;
	-webkit-transform: translate(-50%, -50%);
	-moz-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	cursor: pointer;
  margin-top: 150px;
  
  /* margin-bottom: 100px; */
}

.animated-mail {
	position: absolute;
	height: 150px;
	width: 200px;
	-webkit-transition: .4s;
	-moz-transition: .4s;
	transition: .4s;
	
	.body {
		position: absolute;
		bottom: 0;
		width: 0;
		height: 0;
		border-style: solid;
		border-width: 0 0 100px 200px;
		border-color: transparent transparent #e95f55 transparent;
		z-index: 2;
	}
	
	.top-fold {
		position: absolute;
		top: 50px;
		width: 0;
		height: 0;
		border-style: solid;
		border-width: 50px 100px 0 100px;
		-webkit-transform-origin: 50% 0%;
		-webkit-transition: transform .4s .4s, z-index .2s .4s;
		-moz-transform-origin: 50% 0%;
		-moz-transition: transform .4s .4s, z-index .2s .4s;
		transform-origin: 50% 0%;
		transition: transform .4s .4s, z-index .2s .4s;
		border-color: #cf4a43 transparent transparent transparent;
		z-index: 2;
	}
	
	.back-fold {
		position: absolute;
		bottom: 0;
		width: 200px;
		height: 100px;
		background: #cf4a43;
		z-index: 0;
	}
	
	.left-fold {
		position: absolute;
		bottom: 0;
		width: 0;
		height: 0;
		border-style: solid;
		border-width: 50px 0 50px 100px;
		border-color: transparent transparent transparent #e15349;
		z-index: 2;
	}
	
	.letter {
		left: 20px;
		bottom: 0px;
		position: absolute;
		width: 160px;
		height: 60px;
		background: white;
		z-index: 1;
		overflow: hidden;
		-webkit-transition: .4s .2s;
		-moz-transition: .4s .2s;
		transition: .4s .2s;
		
		.letter-border {
			height: 10px;
			width: 100%;
      background: repeating-linear-gradient(
        -45deg,
        #cb5a5e,
        #cb5a5e 8px,
        transparent 8px,
        transparent 18px
      );
		}
		
		.letter-title {
			/* margin-top: 10px; */
			/* margin-left: 5px; */
			/* height: 5px; */
			/* width: 40%; */
			background: #cb5a5e;
		}
		.letter-context {
			margin-top: -2px;
			margin-left: 5px;
      font-size: 20px;
      font-family:cursive;
			/* height: 10px; */
			/* width: 20%; */
            color:brown;
			/* background: #cb5a5e; */
		}
		
		.letter-stamp {
			margin-top: 30px;
			margin-left: 120px;
			border-radius: 100%;
			height: 30px;
			width: 30px;
			background: #cb5a5e;
			opacity: 0.3;
		}
	}
}

.shadow {
	position: absolute;
	top: 200px;
	left: 50%;
	width: 400px;
	height: 30px;
	transition: .4s;
	transform: translateX(-50%);
	-webkit-transition: .4s;
	-webkit-transform: translateX(-50%);
	-moz-transition: .4s;
	-moz-transform: translateX(-50%);
	
	border-radius: 100%;
	background: radial-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.0), rgba(0,0,0,0.0));
}

	.letter-image:hover {
		.animated-mail {
			transform: translateY(50px);
			-webkit-transform: translateY(50px);
			-moz-transform: translateY(50px);
		}
		
		.animated-mail .top-fold {
			transition: transform .4s, z-index .2s;
			transform: rotateX(180deg);
			-webkit-transition: transform .4s, z-index .2s;
			-webkit-transform: rotateX(180deg);
			-moz-transition: transform .4s, z-index .2s;
			-moz-transform: rotateX(180deg);
			z-index: 0;
		}
		
		.animated-mail .letter {
			height: 180px;
		}
		
		.shadow {
			width: 250px;
		}
	}

/* text hover */
.para{
  text-align: center;
  margin-top: 20px;
}





/* timeline starts here */

        /* apply a natural box layout model to all elements, but allowing components to change */
        html {
          box-sizing: border-box;
          /* font-family: georgia;  */
        }
        *, *:before, *:after {
          box-sizing: inherit;
        }
        
        img {
          max-width: 100%;
        }
        
        .timeline {
          text-align: center;
          margin-top:30px;
          
          .year {
            display: inline-block;
            font-size: 36px;
            font-weight: bold;
            position: relative;
            
            span {
              display: inline-block;
              padding-bottom: 6px;  
            }
            
            &:after {
              content: "";
              display: block;
              width: 80%;
              margin: auto;
              height: 1px;
              background: green;
            }
            
            &--end {
              
              &:before {
                content: "";
                display: block;
                width: 80%;
                margin: auto;
                height: 1px;
                background: green;
              }
              
              &:after {
                content: none;
              }
            }
          }
          
          .days {
            list-style-type: none;
            margin: 0;
            padding: 0;
            
            .day {
              width: 100%;
              float: left;
              
              .events {
                position: relative;
                float: left;
                border-right: 1px solid green;
                padding: 30px;
                text-align: right;
                width: 50%;
                
                &:after {
                  content: "";
                  width: 40%;
                  display: inline-block;
                  height: 1px;
                  background: green;
                  
                  position: absolute;
                  right: 0;
                }
                
                .date {
                  position: absolute;
                  top: 50%;
                  left: 100%;
                  transform: translateY(-50%);
                  
                  padding: 30px;
                  text-align: left;
                  
                  color: green;
                  font-size: 24px;
                  white-space: nowrap;
                }
                
                .day__img {
                  margin-right: -30px;
                  position: relative;
                  overflow: hidden;
                  height: 300px;
                  width: 200px;
                  
                  img {
                    display: block;
                    float: right;
                  }
                  
                  .caption {
                    position: absolute;
                    margin: 0;
                    
                    bottom: 0;
                    right: 0;
                    padding: 20px;
                    background: rgba(#000, 0.7);
                    color: #fff;
                  }
                }
              }
              
              &:nth-child(odd) {
                .events {
                  width: calc(50% + 1px);
                  float: right;
                  border-right: 0;
                  border-left: 1px solid green;
                  text-align: left;
                  
                  &:after {
                    right: auto;
                    left: 0;
                  }
        
                  .date {
                    left: auto;
                    right: 100%;
                    text-align: right;
                  }
                  
                  .day__img {
                    margin-right: auto;
                    margin-left: -30px;
        
                    img {
                      float: left;
                    }
        
                    .caption {
                      right: auto;
                      left: 0;
                    }
                  }
                }
              }
            }
          }
        }